:root {
  --dark-bg-color: rgb(44, 53, 77);
  --light-bg-color: rgb(163, 204, 228);
  --red-accent: #ff5277;
  --red-accent-hover: #ff6b92;
  --red-inverted: #00ad88;
  --red-hover-inverted: #00946d;
  font-family: "Comfortaa", sans-serif;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
  }
  .bg-sun {
    display: none;
  }
  .bg-clouds {
    display: none;
  }
  .bg-grass {
    filter: contrast(0.7);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg-color);
  }
  .bg-stars {
    display: none;
  }
  .bg-moon {
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse_shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 148, 109, 0.7);
  }
  100% {
    box-shadow: 0 0 10px 20px rgba(0, 148, 109, 0);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

.bg-stars {
  position: absolute;
  width: 100%;
  overflow: hidden;
  transform: translateY(-110vh);
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.st1 {
  animation: flicker 2s ease-in-out infinite;
}

.st2 {
  animation: flicker 3s ease-in-out infinite;
  animation-delay: 0.5s;
}

.bg-clouds {
  position: absolute;
  width: 100%;
  overflow: hidden;
  transform: translateY(-110vh);
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.bg-mountain {
  position: absolute;
  width: 100%;
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
  z-index: 4;
}

.bg-moon {
  width: 25%;
  image-rendering: pixelated;
  position: absolute;
  left: 45%;
  top: 80%;
  z-index: 3;
}

.bg-sun {
  width: 25%;
  image-rendering: pixelated;
  position: absolute;
  left: 45%;
  top: 80%;
  z-index: 3;
}

.bg-grass {
  position: absolute;
  width: 100%;
  image-rendering: pixelated;
  z-index: 5;
  top: 105vh;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  color: white;
  font-size: 8rem;
  font-weight: 700;
  width: 70%;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  user-select: text;
}

.mmove {
  transition: all 2s ease-out;
}

.scroll-arrow {
  animation: bounce 2s infinite;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  bottom: 10%;
  z-index: 7;
  transition: all 0.25s linear;
}

.scroll-arrow div {
  scale: 3;
  border-radius: 100%;
}

.scroll-arrow div img {
  animation: pulse_shadow 1s infinite ease-out;
  background-color: var(--red-inverted);
  border-radius: 100%;
  filter: invert(100%);
}

.scroll-arrow div img:hover {
  background-color: var(--red-hover-inverted);
}

.scroll-arrow:hover {
  animation-play-state: paused;
  scale: 1.1;
}

.content {
  position: absolute;
  top: 125vh;
  z-index: 8;
  display: flex;
  width: 100%;
  justify-content: center;
}

.content__navbar {
  text-align: center;
  background-color: var(--red-accent);
  width: 50%;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  transition: linear 0.1s;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.content__navbar:hover {
  rotate: -1deg;
  transition: linear 0.1s;
}

.content__navbar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 1rem;
  display: inline-block;
  transition: linear 0.1s;
}

.content__navbar a img {
  scale: 1.5;
  filter: invert(100%);
}

.content__navbar a:hover {
  background-color: var(--red-accent-hover);
  border-radius: 10px;
  scale: 1.1;
  transition: linear 0.1s;
}
